@font-face {
  font-family: "iconfont"; /* Project id 3047054 */
  src: url('iconfont.woff2?t=1640161342597') format('woff2'),
       url('iconfont.woff?t=1640161342597') format('woff'),
       url('iconfont.ttf?t=1640161342597') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-undo:before {
  content: "\e822";
}

.icon-changyongicon-:before {
  content: "\e616";
}

.icon-yuanjiaojuxing:before {
  content: "\edf8";
}

.icon-xianxingshouzhangtubiao:before {
  content: "\e678";
}

.icon-xiazai:before {
  content: "\e63b";
}

.icon-guanbi1:before {
  content: "\e69d";
}

.icon-wenjian3:before {
  content: "\e626";
}

.icon-wenjian5:before {
  content: "\e63c";
}

.icon-wenjianleixing-biaozhuntu-weizhiwenjian:before {
  content: "\e6a6";
}

.icon-dakaiwenjian:before {
  content: "\e64d";
}

.icon-shanchuwenjianjia:before {
  content: "\e600";
}

.icon-sousuo:before {
  content: "\e601";
}

.icon-45:before {
  content: "\e6a5";
}

.icon-redo:before {
  content: "\e7cf";
}

.icon-niantie:before {
  content: "\e62b";
}

.icon-jianqie:before {
  content: "\e615";
}

.icon-shanchu1:before {
  content: "\e60c";
}

.icon-fuzhi:before {
  content: "\e670";
}

.icon-choose:before {
  content: "\e6a1";
}

.icon-xinjianyemiantianjia:before {
  content: "\e7ab";
}

.icon-save:before {
  content: "\e618";
}

.icon-xinjianwenjian:before {
  content: "\e637";
}

